server:
  port: 8082

spring:
  jpa:
    show-sql: true
    
    open-in-view: false    
    
  security:
    user:
      password: secret
  graphql:
    schema:
      printer:
        enabled: true
      
logging:
  level:
    '[org.springframework.security]': debug
    

--- 
spring:
  config:
    activate:
      on-profile:
      - prod
      
  datasource:
    url: jdbc:postgresql://localhost:5434/f_members
    username: postgres
    password: postgres
    
    hikari:
      minimum-idle: 2
      maximum-pool-size: 10
      connection-timeout: 2000
    
  jpa:
    hibernate:
      ddl-auto: validate
    
    
